main {
  padding: 10px 20px 10px 20px;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ededef;
  padding: 20px 0 20px 0;
}

.item-list__img {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 20px;
}

.item-list__img img {
  width: 50px;
}

.item-list__info div {
  margin: 4px;
}

.item-list__info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.item-list__info-meta {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.4);
}

.item-list__info-price {
  font-size: small;
  font-weight: bold;
}

.write-button {
  position: fixed;
  bottom: 90px;
  right: 20px;
  background-color: var(--button-primary);
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.write-button:hover {
  background-color: var(--button-hover);
}
